---
layout: default
---
<article class="c-page  h-entry">
    {% include page/header.html %}

    {% include page/footer.html %}

    <div class="c-section c-section--body">
        <div class="s-prose s-prose--body  e-content">
            {{ content | improve }}

            {% for photo in site.data.photosets[page.photoset] %}
            <figure class="u-extend">
                {% if photo.src.video %}
                <video controls poster="{{ photo.src.poster }}">
                    <source src="{{ photo.src.video }}" type="video/mp4"/>
                </video>
                {% else %}
                <img src="{{ photo.src.large }}" alt="" data-full="{{ photo.src.original }}"/>
                {% endif %}
                <figcaption>
                    {% include exif.html %}
                </figcaption>
            </figure>
            {% endfor %}
        </div>
    </div>

    {% include page/section--series.html %}

    {% include page/section--tags.html %}
</article>

{% include nav/paginate-posts.html %}
